.section__attach{
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0;
}
.home__best{
    background-image: url(../../media/img/home/BestBg.jpeg);
}
.customer__bg{
    background-image: url(../../media/img/aboutUs/customer.jpg);
}