.home__swiper_item{
    width: 100%;
    padding: 100px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.home__swiper_item1{
    background-image: url(../../../../../media/img/home/slider1.png);
}
.home__swiper_item2{
    background-image: url(../../../../../media/img/home/slider2.png);
}
.home__swiper_item3{
    background-image: url(../../../../../media/img/home/slider3.png);
}
.home__swiper_item4{
    background-image: url(../../../../../media/img/home/slider4.png);
}