@import "../../../../../../variables.scss";

.home__item{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    border: $border-color-light;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.marginTop{
    margin-top: 30px;
}
.home__item_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home__item_link{
    position: relative;
    display: flex;
    justify-content: center;
}
.home__item_link:hover .home__item_link_btn{
    top: 100%;
    opacity: 1;
    visibility: visible;
}
.home__item_img{
    width: 80%;
}
.home__item_link_btn{
    position: absolute;
    left: 50%;
    top: 0%;
    color: $white;
    background-color: $secondary-color;
    padding: 12px 25px;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    border: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    &:hover{
        background-color: $primary-color;
    }
}
.home__item_name{
    color: $heading-color;
    font-size: 16px;
    text-transform: capitalize;
    margin: 15px 0;
    transition: $transition;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    &:hover{
        color: $primary-color;
    }
}
.home__item_prices{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.home__item_discPrice,
.home__item_price{
    position: relative;
    &::before{
        position: absolute;
        left: -10px;
        top: 50%;
        content: "$";
        transform: translateY(-50%);
    }
}
.home__item_discPrice{
    font-size: 18px;
    color: $heading-color;
    font-weight: 600;
}
.home__item_price{
    font-weight: 300;
    margin-left: 20px;
    font-size: 14px;
    color: $font-color;
    text-decoration: line-through;
    &::before{
        left: -8px;
    }
}