.sections__top{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.abouteBg1{
    background-image: url("../../media/img/more/aboutBg1.jpeg");
}
.contactBg1{
    background-image: url("../../media/img/more/contactBg1.jpeg");
    background-position: center, center;
}
.itemBg1{
    background-image: url("../../media/img/more/itemBg1.jpg");
    background-position: center, center;
}